$light-color: beige;

#tableContainer {
  border: 1px solid $light-color;
  border-radius: 12px;
  margin-bottom: 3%;
  padding: 2%;
  background-color: $light-color;
}

.heading {
  color: red;
}

.tableCell {
  color: red;
}